.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: rgb(88, 133, 67);
    border-style: groove;
    border-radius: 10px;
    height: 100vh;
    width: 15%;
}