

.divFooter {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ecb388;
    height: 10vh;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9px;
}